@media only screen and (min-device-width: 150px){ 
      body {
      background-image: url('../img/blablabu3.1.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center center;
      font-family: monospace;
      margin: 0;
  }
}  

.topnav {
    text-align: center;
    float: right;
}


.topnav a {
    font-size: 1.2em;
    display: inline-block;
    color: whitesmoke;
    text-decoration: none;
    margin-right: 1em;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 8px 8px 20px #AA8E3C;
}


.btnS:hover {background-color: rgb(109, 193, 109);}
.btnS {background-color: royalblue;}
.btnS:active {
  transform: translateY(4px);
}

.adverts:hover {background-color: darkred;}
.adverts {background-color: indianred;}
.adverts:active {
  transform: translateY(4px);
}

 h1 {
    margin-top: 15px;
    margin-left: 20px;
    font-size:10rem;
    color: royalblue;
    text-align: left;
    text-shadow: 8px 8px 20px #AA8E3C;
    font-family: monospace;
}


h6 {
    color: royalblue;
    text-align: center;
    font-size: 1.5rem;
}

video {
    margin: 0;
    margin-left: 20px;
}
