
.row {
      color: white;
      background-color: rgb(106, 90, 205, 0.35);
      margin-right: 1%;
      margin-left: 1%;
      padding: 1rem;
      font-size: 1rem;
      border-radius: 5px;
      font-weight: bolder;
      margin-bottom: 10px;
}

.phelp {
      color: rosybrown;
}
.heart {
      color: red;
}

p {
      font-size: 1.3rem;
}

.გაეცანით {
      text-decoration: none;
     font-size: 2rem;
      padding: 0.35em;
      color: royalblue;
}





