

h3 {
      margin-left: 40px;
     background: -webkit-linear-gradient(white, skyblue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 font-size: 20px;

}

h4 { color: #666; margin: 0; }
h4:after {
  display:block;
  content: '';
  border-bottom: solid 3px #019fb6;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}
h4:hover:after { transform: scaleX(1); }
h4.fromRight:after{ transform-origin:100% 50%; }
h4.fromLeft:after{  transform-origin:  0% 50%; }

 h4 {
    margin-left: 20px;
    margin-right: 10px;
    font-family: monospace;
    background-color: rgb(13, 110, 253, 0.35);
    border-radius: 5px;
    width: 12.5rem;
    height: 3rem;
    padding-top: 20px;
    padding-left: 145px;
    font-size: 14px;    
    font-weight: bolder;
}

h5 {
    font-family: monospace;
    font-weight: bolder;
    font-size:18px;
    width: 334px;
   background: -webkit-linear-gradient(white, skyblue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.image1 {
  float: left;
  height: 45px;
  width: 130px;
  position: relative;
  left: 30px;
  margin-top: 10px;
}

.image2 {
  float: left;
  width: 130px;
  height: 45px;
  position: relative;
  left: 30px;
  margin-top: 10px;
}


.footer {
    padding-right: 10px;
    margin-right: 10px;
    padding-bottom: 10px;
}

a {
     
      font-size: 22px;
      display: flex;
      justify-content: center;
}