@media only screen and (min-device-width: 150px){ 
      body {
      background-image: url('blablabu3.1.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center center;
      font-family: monospace;
      margin: 0;
  }
}  

a {
      text-decoration: none;
}

li a {
      font-size: 1.1em;
      padding: 0.35em;
      background-color: royalblue;
      float: right;
      color: white;
      text-decoration: none !important;
      border-radius: 4px;
      box-shadow: 8px 8px 20px #AA8E3C;
      margin-right: 2em;
}

.button:hover {background-color: #ffc107}

.button:active {
  transform: translateY(4px);
}

h1 {
    margin-left: 2rem;
    font-size: 5rem;
    color: royalblue;  
    text-shadow: 8px 8px 20px #AA8E3C;
}

h3 {
      margin-left: 40px;
    color: whitesmoke
}

h4 { color: #666; margin: 0; text-transform:uppercase; }
h4:after {
  display:block;
  content: '';
  border-bottom: solid 3px #019fb6;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}
h4:hover:after { transform: scaleX(1); }
h4.fromRight:after{ transform-origin:100% 50%; }
h4.fromLeft:after{  transform-origin:  0% 50%; }

 h4 {
    margin-left: 20px;
    margin-right: 10px;
    font-family: monospace;
    background-color: rgb(13, 110, 253, 0.35);
    border-radius: 5px;
    width: 13.5rem;
    height: 3rem;
    padding-top: 20px;
    padding-left: 145px;
    font-size: 14px;    
    font-weight: bolder;
}

h5 {
    font-family: monospace;
    font-weight: bold;
    color: royalblue;
    font-size:18px;
    width: 334px;
}

.image1 {
  float: left;
  height: 45px;
  width: 130px;
  position: relative;
  left: 30px;
  margin-top: 10px;
}

.image2 {
  float: left;
  width: 130px;
  height: 45px;
  position: relative;
  left: 30px;
  margin-top: 10px;
}

.image3 {
  float: left;
  width: 130px;
  height: 45px;
  position: relative;
  left: 30px;
  margin-top: 10px;
}

.footer {
    padding-right: 10px;
    margin-right: 10px;
    padding-bottom: 10px;
}

a {
      text-decoration: none;
      color: royalblue;
      font-size: 18px;
      display: flex;
      justify-content: center;
}